<div class="container">
    <div class="form">
        <form>	
            <div class="title">
                <h2>Add Address</h2>
            </div>
            <div class="shipping">
                <h3>Add Address</h3>
            
            <div class="row1">
                <div class="first-name"><label for="">Name</label><input type="text"></div>
            </div>
            
            <div class="row2">
                <div class="address"><label for="">Building Number</label><input type="text" name ="buildingNo"></div>
               
            </div>
            
            <div class="row3">
                <div class="city"><label for="">City</label><input type="text" name="city"></div>
                    <div class="input">
                        <label for="">State</label><input type="text" name="state">
                    </div>
                    <div class="input">
                        <label for="">Field</label><input type="text" name="field">
                    </div>
            </div>

            <div class="row4">
                <div class="postal-code"><label for="">ZIP/Postal Code</label><input type="text" name="zip"></div>
            </div>
        </div>
        
        

    <div class="row4">
        <div class="button">
            <button>Go To Payment Page</button>
        </div>
        
    </div>
</form>
</div>
</div>