<div class="order-page">
    <div><h1>Manage Address</h1></div>
    <div class="order-container">
   
    
      <div class="order-body">
        <div class="order-body-title">
          <div class="Grid-cell qty">
            <span class="order-body-title">Name </span> 
          </div>
          <div class="Grid-cell product">
            <span class="order-body-title">Address</span>       
          </div>
          <div class="Grid-cell price right-border">
            <span class="order-body-title right">Phone Number</span> 
          </div>
          <div class="Grid-cell returns">
            <span class="btn btn-success btn-sm" >Select to Deliver</span> 
          </div>
          <div class="Grid-cell returns">
            <span class="btn btn-danger btn-sm" >Delete</span> 
          </div>
        </div>   
        <div class="order-body-items">
          <div class="order-item Grid">
          <div class="Grid-cell name">
            <span>V Vikash</span> 
          </div>
          <div class="Grid-cell product">
            <span>Sukantapally Malancha Road Kharagpur</span>        
          </div>
          <div class="Grid-cell price right-border">
            <span class="order-body-title">7896541230
            </span> 
          </div>
          <div class="Grid-cell returns">
            
          </div>
          <div class="Grid-cell returns">
           
          </div>
          
        </div>
        <div class="order-item Grid">
          
          <div class="Grid-cell returns">
            <span ></span>
        
          </div>
        </div>
        </div>
      </div>  
    </div>

    <div class="order-container">
   
    
        <div class="order-body">
          <div class="order-body-title">
            <div class="Grid-cell qty">
              <span class="order-body-title">Name </span> 
            </div>
            <div class="Grid-cell product">
              <span class="order-body-title">Address</span>       
            </div>
            <div class="Grid-cell price right-border">
              <span class="order-body-title right">Phone Number</span> 
            </div>
            <div class="Grid-cell returns">
                <span class="btn btn-success btn-sm" >Select to Deliver</span> 
            </div>
            <div class="Grid-cell returns">
                <span class="btn btn-danger btn-sm" >Delete</span> 
            </div>
          </div>   
          <div class="order-body-items">
            <div class="order-item Grid">
            <div class="Grid-cell name">
              <span>Plaban Roy</span> 
            </div>
            <div class="Grid-cell product">
              <span>sunhat Dewanpatna Balasore
                    Odisha 
                    Pin : 756002
              </span>        
            </div>
            <div class="Grid-cell price right-border">
              <span class="order-body-title">7896541230
              </span> 
            </div>
            <div class="Grid-cell returns">
            </div>
            <div class="Grid-cell returns">
              
            </div>
            
          </div>
          <div class="order-item Grid">
            
            <div class="Grid-cell returns">
              <span ></span>
          
            </div>
          </div>
          </div>
        </div>  
      </div>

    <div routerLink="auth" class="btn btn-primary"> Add New Address</div>
</div>